<% include partials/header %>

<div class="ui main container">
	<div class="ui huge header">
		RESTFUL Blog App
	</div>
	<div class = "ui top attached segment">
		<div class="ui divided items">
			<% 	blog.forEach(function(item){ %>
				<div class="item">
					<div class="ui small image">
						<img class="ui medium bordered image" src="<%= item.image %>"/>
					</div>
					<div class="top aligned content">
						<div class="header">
							<h2>	<%= item.title %> </h2>
						</div>
						<div class="description">
							<p> <%- item.body.substring(0,100); %></p>
						</div>
						<div class="extra">
						<p> <%= item.time.toDateString(); %></p>
							<a class="ui blue basic button" href="/home/<%=item._id%>">Read More</a>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</div>

<% include partials/footer %>